- var title = 'Index Page'
- var meta_description = ""

doctype html
html
    include includes/head

    body
        p Hello, World!

        script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
